@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as *;

.card_container{
	display: flex;
	flex-direction: column;
	@include font-h1;
	font-size: 12px;
	font-weight: normal;

	.card{
		display: flex;
		flex-direction: column;
		box-shadow: 2px 4px 21px rgba(0,0,0,0.3);
		border-radius: 11px;
		padding: 15px;
		@include font-main;
		font-size: 12px;
		margin-bottom: 20px;

		.info_block{
			display: flex;
			color: #949494;
			justify-content: space-between;
			margin-bottom: 20px;

			a{
				color: #949494;
				text-decoration: underline;
			}
		}

		.title{
			font-size: 19px;
			margin-bottom: 20px;
		}

		.tag{
			background-color: vars.$orange;
			padding: 8px;
			width: 50%;
			font-size: 10px;
			border-radius: 8px;
			text-align: center;
			margin-bottom: 12px;
		}

		img{
			margin-bottom: 18px;
		}

		.description{
			word-spacing: 0.5em;
			margin-bottom: 25px;
		}

		.get_info_block{
			display: flex;
			justify-content: space-between;
    	align-items: center;
			height: 40px;
			margin-top: auto;


			.get_info_btn{
				display: flex;
				align-items: center;
				justify-content: center;
				

				background-color: vars.$light-green;
				height: 40px;
				width: 60%;
				border-radius: 7px;

				text-decoration: none;
				color: inherit;
			}
			.stat{
				color: #949494;
			}
		}
	}
}

@media (min-width: 769px){
	.card_container{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 35px;
	}

	.card{
		margin-bottom: 0;
	}
}