@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as *;

.dates_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 17px;

  .date_cell_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .date_cell {
      flex: 1;
      position: relative;

      .date {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;

        height: 40px;
        width: 100%;
        min-width: 150px;

        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        color: #949494;
        cursor: pointer;

        padding: 0 40px 0 15px;
        font-size: 1rem;

        transition:
          background-color 0.3s,
          border-color 0.3s;
        margin-bottom: 6px;

        @include font-main;

        &.error {
          border: 1px solid red !important;
          box-shadow: 0 0 5px rgba(255, 0, 0, 0.4);
        }

        &.active {
          background-color: #5970ff;
          border-color: #5970ff;
          color: #fff;
        }

        .text {
          flex: 1;
          text-align: center;
          font-size: 14px;
          white-space: nowrap;
        }

        .arrow {
          position: absolute;
          right: 12px;
          top: 50%;
          transform: translateY(-50%);
          width: 13.74px;
        }
      }

      .datepicker_wrapper {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        margin-top: 2px;
      }
    }
  }

  .error_text {
    text-align: center;
    color: red;
    font-size: 12px;
    margin-top: 6px;
    width: 100%;
  }
}

@media (min-width: 769px) {
  .dates_container {
    .date_cell_container {
      flex-direction: row;
      gap: 20px;
    }

    .date_cell {
      flex: 1;

      .date {
        min-width: 150px;
      }
    }
  }
}
