@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as *;

.wrapper {
  display: flex;
  align-items: center;
  font-size: 16px;
  @include font-main;
  justify-content: space-between;

  .forward_arrow,
  .back_arrow {
    width: 15px;
    height: 15px;
    border: 4px solid rgb(180, 177, 177);
    border-top: none;
    border-left: none;
    cursor: pointer;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .back_arrow {
    transform: rotate(134deg);
  }

  .forward_arrow {
    transform: rotate(316deg);
  }

  .table {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    align-items: normal;
    border: 1px solid vars.$green;
    border-radius: 10px;
    background: #fff;
    position: relative;
    justify-content: space-between;

    .main_column {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      gap: 15px;
      align-items: center;
      background-color: vars.$green;
      padding: 10px;
      color: white;
      align-items: flex-start;
      border-top-left-radius: 8px;
      align-items: center;
    }
    .column_container {
      display: flex;
      align-items: stretch;
      width: -webkit-fill-available;
      .column {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding: 10px;
        align-items: center;
      }

      .separator {
        display: none;
        width: 3px;
        height: 80%;
        background-color: #949494;
        align-self: center;
      }
    }
  }
}

.loading_container {
  flex: 1;
  min-height: 130px;
  background: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 12px;

  // 	& p {
  // 	margin: 0;
  // 	font-size: 14px;
  // 	color: #333;
  // 	text-align: center;
  // }
}

// .loader {
// 	width: 42px;
// 	height: 42px;
// 	position: relative;
// 	animation: rotate 1.5s linear infinite;
// }

// .loader span {
// 	position: absolute;
// 	left: 50%;
// 	top: 50%;

// 	border: 2px solid #b4b1b1;
// 	background: transparent;
// 	border-radius: 50%;
// 	box-sizing: border-box;

// 	transform:
// 		rotate(calc(var(--i) * 45deg))
// 		translateY(-24px)
// 		translate(-50%, -50%);
// }

// .loader span:nth-child(1){
// 	width: 3px;
// 	height: 3px;
// }

// .loader span:nth-child(2){
// 	width: 4px;
// 	height: 4px;
// }

// .loader span:nth-child(3){
// 	width: 5px;
// 	height: 5px;
// }

// .loader span:nth-child(4){
// 	width: 7px;
// 	height: 7px;
// }

// .loader span:nth-child(5){
// 	width: 9px;
// 	height: 9px;
// }

// .loader span:nth-child(6){
// 	width: 7px;
// 	height: 7px;
// }

// .loader span:nth-child(7){
// 	width: 5px;
// 	height: 5px;
// }

// .loader span:nth-child(8){
// 	width: 4px;
// 	height: 4px;
// }

// @keyframes rotate {
// 	from {
// 		transform: rotate(0);
// 	}
// 	to {
// 		transform: rotate(360deg);
// 	}
// }
// .loading_container p {
// 	font-size:18px;
// 	color:#333;
// }

.empty_text {
  font-size: 20px;
  color: #949494;
  text-align: center;
}

@media (min-width: 768px) {
  .wrapper {
    .table {
      flex-direction: row;

      .main_column {
        flex-direction: column;
      }

      .column_container {
        .column {
          flex-direction: column;
        }
        .separator {
          display: block;
        }
      }
    }
  }
}
