.container {
  font-family:
    Inter,
    sans serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 320px;
  a {
    text-decoration: none;
  }

  button {
    cursor: pointer;
  }
}
