.container {
	border: 1px solid black;
	font-family: Inter, sans serif;
  display: flex;
  flex-direction: column;
	overflow: hidden;
	a {        /* ваш желаемый цвет, например чёрный */
  text-decoration: none; /* убирает подчеркивание */
	}
}

