
	.auth{
		font-family: Inter, sans serif;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		padding: 15px;

		.people_with_key{
    	margin: 0px auto 40px auto;
		}
	}

	@media (min-width: 769px){

	}