
	.auth{
  min-width: 380px;
	font-family: Inter, sans serif;
  display: flex;
  flex-direction: column;
	overflow: hidden;
	a {        /* ваш желаемый цвет, например чёрный */
  text-decoration: none; /* убирает подчеркивание */
	}
	}
