@use './variables.module.scss' as vars;

.stat_block{
	display: flex;
	border-radius: 5px;
  flex-direction: column;
	justify-content: center;
	flex-grow: 2;
	color: rgb(190, 189, 189);
	font-size: 9px;
	padding: 10px;
	background: #ededed;
	@extend.font-main;
	
	p{
		margin: 0;
	}

	.companies_block{
		display:flex;
		flex-direction:column;
		margin-bottom: 10px; 
		justify-content: space-between;
		.num_of_companies{
			color: black;
			font-weight: 700;
			font-size: 14px;
		}
	}
	
	.limit_block{
		display:flex;
		flex-direction: column;
		justify-content: space-between;
		.limits{
			color: #8AC540;
			font-weight:700;
			font-size: 14px;
		}
	}
}

@media (min-width: 769px){
	.stat_block{
		flex-grow: 0.1;

	.companies_block, .limit_block{
		flex-direction: row;
	}

	.companies_block p,
.limit_block p {
  flex: 1;
  text-align: right;
  padding-right: 8px;
}

.num_of_companies,
.limits {
  flex: 1;
	flex-grow: 0.2;
	}
}
}